
h1 {
    color: orange;
}

mark {
background-color: rgb(134, 117, 150);
font-size: 20px;
}

p mark {
    background-color: cadetblue;
}

p {
    color: blue;
}

.text {
text-transform: uppercase;
color: grey !important;
font-weight: bold;
}

.text-large {
    width: 700px;
}

.text-small {
    width: 300px;
}

#text {
    color: pink;
}